.all-features {
    margin-top: 4rem;
}

.featureCard {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.featureCardVideo img,
.featureCardVideo mux-player {
    border-radius: 0.5rem;
    overflow: hidden;
}

.featureCardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
}

.featureCardText h2 {
    font-family: "Instrument Serif", serif;
    font-weight: 700;
    font-size: 2.5rem;
}