.all-features {
    margin-top: 4rem;
}

.featureCard {
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.featureCardVideo {
    border-radius: 1rem;
    overflow: hidden;
    max-width: 700px;
}

 .featureCardText {
    padding-left: 4rem;
}

