.all-features {
    margin-top: 4rem;
}

.featureCard {
    margin-top: 4rem;
    margin-bottom: 4rem;
}


.featureCardVideo {
    border-radius: 1rem;
    overflow: hidden;
}

.featureCardText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 2rem;
}