.all-features {
    margin-top: 4rem;
}

.featureCard {
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

.featureCardVideo {
    border-radius: 1rem;
    overflow: hidden;
    max-width: 500px;
    padding: 0;
}

.featureCardText {
    padding-left: 2rem;
    padding-right: 2rem;
}