/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
}

/* Commenting this out because it doesn't work with dark mode */
/* .heroBanner.dark {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right top, var(--vp-c-bg-alt), var(--vp-c-black));
} */

h2.hero__subtitle {
  font-size: 20px;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.embedded_markdown {
  max-width: 800px;
  text-align: left;
}

.embedded_markdown h1,
.embedded_markdown h2,
.embedded_markdown h3,
.embedded_markdown h4,
.embedded_markdown h5,
.embedded_markdown h6 {
  position: relative;
  font-weight: 600;
  outline: none;
}

.embedded_markdown h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.embedded_markdown h2 {
  margin: 48px 0 16px;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.embedded_markdown h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

.embedded_markdown p {
  margin: 16px 0;
  line-height: 24px;
}


.video_container {
  border: 5px solid rgb(83, 103, 169);
  border-radius: 10px;
  width: 80%;
}

.video_container video {
  display: block;
}