/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */
.container {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

/* Commenting this out because it doesn't work with dark mode */
/* .heroBanner.dark {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to right top, var(--vp-c-bg-alt), var(--vp-c-black));
} */

.container {
  padding: 0;
}

h1.hero__title {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600;

  @media screen and (max-width: 500px) {
    max-width: 100%;
  }

}

h2.hero__subtitle {
  font-size: clamp(1rem,
      1rem + 1 * ((100vw - 20rem) / 58),
      1.5rem);
  text-align: left;
  font-weight: 400;
  /* max-width: 70%; */
  line-height: 1.4;
  color: var(--ifm-font-color-secondary);
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.embedded_markdown {
  text-align: left;
}

.embedded_markdown h1,
.embedded_markdown h2,
.embedded_markdown h3,
.embedded_markdown h4,
.embedded_markdown h5,
.embedded_markdown h6 {
  position: relative;
  font-weight: 600;
  outline: none;
}

.embedded_markdown h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

.embedded_markdown h2 {
  margin: 48px 0 16px;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

.embedded_markdown h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

.embedded_markdown p {
  margin: 16px 0;
  line-height: 24px;
}


.video_container {
  border: 5px solid rgb(83, 103, 169);
  border-radius: 16px;
  overflow: hidden;
  width: 100%;
}

.video_container video {
  display: block;
}

.announcement {
  background-color: rgba(0, 164, 0, 0.15);
  border: 1px solid rgba(0, 164, 0, 0.3);
  padding: 0.5rem;
  border-radius: 8px;
  width: fit-content
}

.bigWhy {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.bigWhy h1 {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.bigWhy p {
  font-size: 1.2rem;
  line-height: 1.6;
}