ul ul {
    list-style-type: circle;
    font-size: 0.9em;
}

article li+li {
    margin: 0;
    padding: 0;
}

ul {
    line-height: 1.5;
}

article li>ul {
    margin: 0;
}

article ul>li {
    margin: 8px 0 0px 0;
}

article li>ol,
article li>ul {
    margin: 4px 0 8px 8px;
}

article h1 {
    margin-top: 2rem;
}

.navbar {
    background-color: inherit;
}

.hero {
    padding: 1rem 2rem;
    background-color: inherit;
}

.navbar {
    opacity: 1;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: none;
    background-color: var(--vp-c-bg);
}

[data-theme="dark"] .navbar {
    background-color: black;
    box-shadow: none;
    opacity: 1;
}


.navbar-sidebar--show {
    opacity: 1;
    backdrop-filter: none;
}

.all-features {
    margin-top: 5rem;
}

mux-player {
    --bottom-controls: none;
    --seek-backward-button: none;
    --seek-forward-button: none;
}

.featureCard h2 {
    border: none;
    margin-top: 1rem;
}

div.feature-card.row ul {
    padding-left: 1rem;
}

/* #background-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(./img/zak.jpg);
    background-size: cover;
    background-position: center;
    opacity: 0.4;
    /* mix-blend-mode: multiply; */
/*
    filter: invert(1) grayscale(7%) contrast(10%) brightness(1.5)
} */

/* html[data-theme='dark'] #background-holder {
    filter: invert(0);
} */

.button {
    border-radius: 100px;
}

.announcement {
    border: '1px solid var(--ifm-color-primary)';
    background-color: var(--ifm-alert-background-color-highlight);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: var(--ifm-color-primary-inverse);
}

.spacer {
    height: 2rem;
}

.newChip {
    background-color: var(--ifm-color-primary);
    color: var(--ifm-button-color);
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    margin-right: 0.4rem;
}

#milkyway-outer-container {
    display: flex;
    justify-content: center;
}

#milkyway-container {
    width: 260px;
    height: 260px;
}

@media screen and (max-width: 996px) {
    #milkyway-container {
        width: 100px;
        height: 100px;
    }

    #milkyway-outer-container {
        display: flex;
        justify-content: flex-start;
    }
}