/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a3aab8;
  --ifm-color-primary-dark: #8f98a9;
  --ifm-color-primary-darker: #868fa1;
  --ifm-color-primary-darkest: #6a7489;
  --ifm-color-primary-light: #b7bcc7;
  --ifm-color-primary-lighter: #c0c5cf;
  --ifm-color-primary-lightest: #dee0e5;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #c7cbd6;
  --ifm-color-primary-dark: #afb5c5;
  --ifm-color-primary-darker: #a3aabc;
  --ifm-color-primary-darkest: #7f89a2;
  --ifm-color-primary-light: #dfe1e7;
  --ifm-color-primary-lighter: #ebecf0;
  --ifm-color-primary-lightest: #ffffff;
}

:root {
  --ifm-hover-overlay: rgba(161, 125, 179, 0.12);
  --ifm-menu-color-active: #0d1017;
  --ifm-breadcrumb-color-active: var(--ifm-color-primary-darkest);
  --ifm-link-color: var(--ifm-color-primary-darker);
}

a {
  font-weight: 600;
  /* color: rgb(100, 59, 127); */
}

.footer {
  background-color: #989ca3;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.04em;
}

.theme-doc-sidebar-container {
  border-right: 0px black !important;
}

.embedded-button {
  background-color: #6366f1;
  border-radius: 6px;
  padding-block: 0.2rem;
  padding-inline: 0.7rem;
  font-weight: 500;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  font-size: 0.8rem;
  gap: 8px;
  color: white;
}

.embedded-button svg {
  width: 1.1rem;
  height: 1.1rem;
  align-self: center;
}

.menu__link {
  font-weight: 500;
  font-size: 15px;
}

/* The following is copied from Vitepress's Default Theme */
html {
  line-height: 1.4;
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  line-height: 24px;
  /* font-family: var(--vp-font-family-base); */
  font-size: 16px;
  font-weight: 400;
  /* color: var(--vp-c-text-1); */
  /* background-color: var(--vp-c-bg); */
  direction: ltr;
  font-synthesis: style;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

p {
  margin: 0;
}

strong,
b {
  font-weight: 600;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  position: relative;
  font-weight: 500;
  outline: none;
}

article h1 {
  letter-spacing: -0.02em;
  line-height: 40px;
  font-size: 28px;
}

article h2 {
  margin: 48px 0 16px;
  border-top: 1px solid var(--vp-c-divider);
  padding-top: 24px;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-size: 24px;
}

article h3 {
  margin: 32px 0 0;
  letter-spacing: -0.01em;
  line-height: 28px;
  font-size: 20px;
}

/* Prevent line at top of H2 from the very first one: */
article h2:first-of-type {
  border-top: none;
  padding-top: 8px;
  line-height: 1em;
}

/**
 * Paragraph and inline elements
 * -------------------------------------------------------------------------- */

article p,
article summary {
  margin: 16px 0;
}

article p {
  line-height: 24px;
}

article blockquote {
  margin: 16px 0;
  border-left: 2px solid var(--vp-c-divider);
  padding-left: 16px;
  transition: border-color 0.5s;
}

article blockquote > p {
  margin: 0;
  font-size: 16px;
  /* color: var(--vp-c-text-2); */
  transition: color 0.5s;
}

article a {
  font-weight: 500;
  text-decoration: underline;
  text-underline-offset: 2px;
  transition: color 0.25s, opacity 0.25s;
}

article a:hover {
  /* color: var(--vp-c-brand-2); */
}

article strong {
  font-weight: 600;
}

/**
  * Lists
  * -------------------------------------------------------------------------- */

article ul,
article ol {
  padding-left: 1.25rem;
  margin: 16px 0;
}

article ul {
  list-style: disc;
}

article ol {
  list-style: decimal;
}

article li + li {
  margin-top: 8px;
}

article li > ol,
article li > ul {
  margin: 8px 0 0;
}

/**
  * Table
  * -------------------------------------------------------------------------- */

article table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}

article tr {
  /* background-color: var(--vp-c-bg); */
  border-top: 1px solid var(--vp-c-divider);
  transition: background-color 0.5s;
}

article tr:nth-child(2n) {
  /* background-color: var(--vp-c-bg-soft); */
}

article th,
article td {
  border: 1px solid var(--vp-c-divider);
  padding: 8px 16px;
}

article th {
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  /* color: var(--vp-c-text-2); */
  background-color: var(--vp-c-bg-soft);
}

article td {
  font-size: 14px;
}

/**
  * Decorational elements
  * -------------------------------------------------------------------------- */

article hr {
  margin: 16px 0;
  border: none;
  border-top: 1px solid var(--vp-c-divider);
}

/* End Vitepress CSS */

.hero__title {
  letter-spacing: -0.02em;
  line-height: 1;
  font-size: clamp(
    1.8020324707rem,
    1.8020324707rem + 3.3995479121 * ((100vw - 20rem)/58),
    5.2015803828rem
  );
  /* color: #151416; */
  font-weight: 600;
  margin-bottom: 10px;
}
